################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestingApplication1/.vs/TestingApplication1/v16/Browse.VC.opendb
/.vs/RFDiffraction/v16/Browse.VC.opendb
